<!--
 Post sharing snippet
-->

<div class="share-wrapper">
  <span class="share-label text-muted mr-1">{{ site.data.locales[lang].post.share }}</span>
  <span class="share-icons">
    {% capture title %}{{ page.title }} - {{ site.title }}{% endcapture %}
    {% assign url = page.url | absolute_url %}

    <i id="copy-link" class="fa-fw fas fa-link small"
        data-toggle="tooltip" data-placement="top"
        title="{{ site.data.locales[lang].post.button.share_link.title }}"
        title-succeed="{{ site.data.locales[lang].post.button.share_link.succeed }}">
    </i>

  </span>
</div>
